img{
  border-color: black;
  border-radius: 50%;
}

body{
background-image: url("../images/background.jpg");
background-repeat: repeat-x;
background-color: lightblue;
text-align: center;
}

head{
font-size: 30;
font-family: Ariel;
}

h1{
color: black;
direction: ltr;
margin-top: 0px;
}

p {
color: blue;
font-size: 18;
}

div{
width: 90%;
margin-left:auto;
margin-right: auto;
}



